<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
    <div class="span 6 offset 3">
        <%= form_tag(sessions_path) do %>
          <%= label :session, :email %>
          <%= text_field :session, :email %>

          <%= label :session, :password %>
          <%= password_field :session, :password %>

          <%= submit_tag("Sign in", class: "btn btn-large btn-primary") %>
        <% end %>

    <p>New User?<%= link_to "Sign Up Now", signup_path %> </p>

</div>
</div>